.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        width: 300px;
        align-content: center;
        margin-bottom: 10px; /* Added */
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
